<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>創建活動</title>
</head>
<body>
    <form action="/create_event" method="POST">
        <input type="text" name="title" placeholder="活動標題" size="15" required>
        <input type="text" name="date" placeholder="活動日期" size="10"required>
        <input type="text" name="location" placeholder="活動地點" size="10"required>
        <input type="text" name="description" placeholder="活動介紹" size="30"required>
        <input type="submit" value="創建" >
    </form>
</body>
</html>