<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <title>活動輕鬆報名</title>
</head>
<body>

  <div class="container">
    <div class="header">{{username}}
      <img src="{{ url_for('static', filename='head.png') }}" width="30" height="30">
      <a href="{{ url_for('sign.signout') }}">登出</a><!--拿掉div就排在右邊，但字不知道為啥是藍色-->
    </div>
    <div class="row">
      <div class="column">
        <div class="column-1">
          <label>查看活動</label> 
          <ul>
            <li><a href="#">查看已參加活動</a></li><br>
            <li><a href="#">查看已報名活動</a></li>
          </ul>
          <hr>
          <label>活動管理</label>
          <ul>
          <li><a href="{{ url_for('event_manage.create') }}">新增活動</a></li><br>
          <li><a href="#">刪除活動</a></li>
          </ul>
          <hr>
          <label>帳號管理</label>
          <ul>
            <li><a href="#">帳號管理</a></li>
            </ul>
        </div>
      </div>
      <div class="column">
        <div class="column-2">
        {% for number in range(num) %}
          <a href="{{url_for('event_manage.event', event_id = _id[number])}}">
          <div>{{title[number]}}</div>
          </a>
        {% endfor %}
      </div>
  </div>
      <div class="column">
        <div class="column-3">
        <form action="{{ url_for('event_manage.search_event') }}" method="POST">
          <label for="site-search">搜尋活動：</label>
          <input type="search" id="site-search" name="q" />
          <input type="submit" value = "搜尋" />
        </form>
      </div>
	  </div>
    </div>
  </div>

</body>
</html>