<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <title>活動輕鬆報名</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
  <div class="container">
    <div class="header">{{username}}
      <img src="{{ url_for('static', filename='head.png') }}" width="30" height="30">
      <a href="{{ url_for('sign.signout') }}">登出</a>
    </div>
    <div class="row">
      <div class="column">
        <div class="column-1">
          <div id = "show1">
          <label>查看活動</label> 
          <ul>
            <li><a href="#">查看已參加活動</a></li><br>
            <li><a href="#">查看已報名活動</a></li>
          </ul>
          <hr>
          </div>
          <div id = "show2">
          <label>活動管理</label>
          <ul>
          <li><a href="{{ url_for('event_manage.create') }}">新增活動</a></li><br>
          <li><a href="#">刪除活動</a></li>
          </ul>
          <hr>
          </div>
          <div id = "show3">
          <label>帳號管理</label>
          <ul>
            <li><a href="{{ url_for('account_manage.getUserdata') }}">帳號管理</a></li>
            </ul>
            </div>
        </div>
      </div>
      <div class="column">
        <div class="column-2" id="searchResultsContainer">
        {% for number in range(num) %}
          <a href="{{url_for('event_manage.event', event_id = _id[number])}}">
          <div>{{title[number]}}</div>
          </a>
        {% endfor %}
      </div>
  </div>
      <div class="column">
        <div class="column-3">
        <form id="searchForm" action="{{ url_for('event_manage.search_event') }}" method="POST">
          <label for="site-search">搜尋活動：</label>
          <input type="search" id="site-search" name="q" />
          <input type="submit" value = "搜尋" />
        <div>
          <label>舉辦團體：<br></label>
          <input type = "checkbox" name = "host_type" value = "個人">個人<br>
          <input type = "checkbox" name = "host_type" value = "校內社團">校內社團<br>
          <input type = "checkbox" name = "host_type" value = "校內系所">校內系所<br>
          <input type = "checkbox" name = "host_type" value = "學校">學校<br>
          <input type = "checkbox" name = "host_type" value = "校外">校外<br>
          <input type = "checkbox" name = "host_type" value = "政府">政府<br>
        </div>
        <div>
          <label>活動類型：<br></label>
          <input type = "checkbox" name = "event_type" value = "學系">學系<br>
          <input type = "checkbox" name = "event_type" value = "學術">學術<br>
          <input type = "checkbox" name = "event_type" value = "學藝">學藝<br>
          <input type = "checkbox" name = "event_type" value = "康樂">康樂<br>
          <input type = "checkbox" name = "event_type" value = "服務">服務<br>
          <input type = "checkbox" name = "event_type" value = "體育">體育<br>
          <input type = "checkbox" name = "event_type" value = "聯誼">聯誼<br>
        </div>
        </form>
      </div>
	  </div>
    </div>
  </div>
  <script >
    var level = '{{level}}';
    console.log(level);
    var block1 = document.getElementById('show1');
    var block2 = document.getElementById('show2');
    var block3 = document.getElementById('show3');
    if(level == "visitor"){
        block1.style.display = "none";
        block2.style.display = "none";
        block3.style.display = "none";
     }else if(level == "normal"){
        block2.style.display = "none";
        block3.style.display = "none";
    }else if(level == "advanced"){
        block3.style.display = "none";
    }else if(level == "admin"){
    }

    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the default form submission
      const formElement = event.target;
      const data = new URLSearchParams();
      for (const pair of new FormData(formElement)) {
          data.append(pair[0], pair[1]);
      }
      // 使用 Fetch API 發起 AJAX 請求
      const create_url = {{ url_for('event_manage.search_event')|tojson }}
      fetch(create_url,{
          method: "POST",
          body: data
      })
      .then(response => response.json())
         .then(data => {
          if (data.result == 'notFind') {
            Swal.fire({
              icon: 'error',
              title: '活動不存在',
              timer: 2000,
              timerProgressBar: true,
            });
            // 清空搜索字段
            formElement.reset();
          }
          // 將搜索結果顯示在 searchResultsContainer 中
          const titlesHTML = data.title.map((title, index) => `
          <a href="event/${data._id[index]}">
          <div>${title}</div>
          </a>
          `).join('');
      
          document.getElementById('searchResultsContainer').innerHTML = titlesHTML;
         })
         .catch(error => console.error('錯誤:', error));
      });
  </script>

</body>
</html>