<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="member.css">
  <title>活動輕鬆報名</title>
</head>
<body>

  <div class="container">
    <div class="header">{{username}}
      <img src="head.png" width="30" height="30">
      <div><a href="/signout">登出</a></div><!--拿掉div就排在右邊，但字不知道為啥是藍色-->
    </div>
    <div class="row">
      <div class="column">
        <!--<div><a href="/member">已報名的活動</a></div> 目前超連結連回member頁面 -->
        <!--<div><a href="/member">已結束的活動</a></div> 目前超連結連回member頁面 -->
        <!--<div><a href="/member">已創建的活動</a></div> 只有進階使用者和系統管理員能看到的選項 -->
      </div>
      <div class="column">
            {% for title in title %}
              <div><li>{{title}}</li></div>
            {% endfor %}
      </div>
      <div class="column">
        <form action="/search_event" method="POST">
          <label for="site-search">搜尋活動：</label>
          <input type="search" id="site-search" name="q" />
          <input type="submit" value = "搜尋" />
        </form>
	  </div>
    </div>
  </div>

</body>
</html>