<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="member.css">
  <title>Flexbox Layout</title>
</head>
<body>

  <div class="container">
    <div class="header">{{username}}
      <img src="head.png" width="30" height="30">
      <a href="/signout">登出</a><!--拿掉div就排在右邊，但字不知道為啥是藍色-->
    </div>
    <div class="row">
      <div class="column">
        <div><a href="/member">烤肉</a></div><!-- 目前超連結連回member頁面 -->
        <div>宿營</div>
      </div>
      <div class="column">
            {% for title in title %}
              <div>{{title}}</div>
            {% endfor %}
      </div>
      <div class="column">
        <form action="/search_event" method="POST">
          <label for="site-search">Search the site:</label>
          <input type="search" id="site-search" name="q" />
          <input type="submit" value = "搜尋" />
        </form>
	  </div>
    </div>
  </div>

</body>
</html>