<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
  <body>
    <div class="wrapper">
      <div class="system_name">
        <h2 align="center">活動報名系統</h2>
      </div>
          <div id="container1">

            <div class="login">

              <h3 align="center">登入 Login</h3>

                <form action="{{ url_for('sign.signin') }}" method="POST">

                <div class="input-box">
                  <input type="text" id="username" name="username" placeholder="帳號" required>
                  <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                  <input type="password" id="password" name="password" placeholder="密碼" required>
                  <i class='bx bx-lock-alt' ></i>
                </div>

                  <div class="tab"></div>

                  <input type="submit" value="登入" class="submit">
                </form>
                <div class="signing" style="display: flex; justify-content: space-between;">
                  <a href="{{ url_for('sign.sign') }}" style="color: white;">
                    <h5 style="color: white;">註冊帳號</h5>
                  </a>
                  <a href="{{ url_for('event_manage.guest') }}" style="color: white;">
                    <h5 style="cursor: pointer;">訪客參觀</h5>
                  </a>
                </div>

            </div><!-- login end-->
          </div><!-- container1 end-->
    </div>
  </body>
</html>