<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <title>帳號管理</title>
</head>
<body>

  <div class="container">
    <div class="header">{{username}}
      <img src="{{ url_for('static', filename='head.png') }}" width="30" height="30">
      <a href="{{ url_for('sign.signout') }}">登出</a>
    </div>
    <div class="row">
      <div class="column">
        <div class="column-1">
          <label>查看活動</label> 
          <ul>
            <li><a href="#">查看已參加活動</a></li><br>
            <li><a href="#">查看已報名活動</a></li>
          </ul>
          <hr>
          <label>活動管理</label>
          <ul>
          <li><a href="{{ url_for('event_manage.create') }}">新增活動</a></li><br>
          <li><a href="#">刪除活動</a></li>
          </ul>
          <hr>
          <label>帳號管理</label>
          <ul>
            <li><a href="{{ url_for('account_manage.getUserdata') }}">帳號管理</a></li>
            </ul>
        </div>
      </div>
      <div class="column">
        <div class="column-2">
        {% for user in users%}
          <div class="panel panel-primary" style="border: 2px solid blue; background-color : violet; text-align:left;" >
          <input type = "checkbox" name = "user" value = "{{user[username]}}">
          {{user[0]}}<br>
          {{user[1]}}<br>
          {{user[2]}}<br>
          </div>
        {% endfor %}
      </div>
  </div>
      <div class="column">
        <div class="column-3">
        <form action="{{ url_for('account_manage.search_user') }}" method="POST">
            <label for="site-search">搜尋使用者：</label>
            <input type="search" id="user-search" name="query" />
            <input type="submit" value = "搜尋" />
        </form>
        <form action="{{ url_for('account_manage.permission_adjust') }}" method="POST">
          <input type="submit" name = "command" value = "加入黑名單"/>
          <input type="submit" name = "command" value = "移除黑名單"/>
          <input type="submit" name = "command" value = "設定為進階使用者"/>
          <input type="submit" name = "command" value = "設定為一般使用者"/>
        </form>
      </div>
	  </div>
    </div>
  </div>

</body>
</html>