<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <title>帳號管理</title>
</head>
<body>

  <div class="container">
    <div class="header">{{username}}
      <img src="{{ url_for('static', filename='head.png') }}" width="30" height="30">
      <a href="{{ url_for('sign.signout') }}">登出</a>
    </div>
    <div class="row">
      <div class="column">
        <div class="column-2">
          <form id="goBack" action="{{ url_for('event_manage.member') }}">
            <input type="submit" value = "返回主頁" />
          </form>
        </div>
	    </div>
      <div class="column">
        <div class="column-2">
          <label>功能：</label>
          <form action="{{ url_for('account_manage.permission_adjust') }}" method="POST">
            <input type="submit" name = "command" id = "ban" value = "加入黑名單"/>
            <input type="submit" name = "command" id = "unban" value = "移除黑名單"/>
            <input type="submit" name = "command" id = "advancilize" value = "設定為進階使用者"/>
            <input type="submit" name = "command" id = "normalize" value = "設定為一般使用者"/>
            <!--Form目前先寫在這-->
          <hr>
            
          <div style="height: 700px; overflow-y: auto;">
            <ul>
              {% for user in users %}
                <li class="panel panel-primary" style="border: 2px solid red; background-color: white; text-align: left;">
                  <div>
                    <input type="checkbox" name="user" value="{{ user[0] }}">
                    使用者名稱：{{ user[0] }}<br>
                    等級：{{ user[1] }}<br>
                    身分：{{ user[2] }}<br>
                    黑名單：{{ user[3] }}<br>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>          

          </form>
        </div>
      </div>
      <div class="column">
        <div class="column-3">
        <form action="{{ url_for('account_manage.search_user') }}" method="POST">
            <label for="site-search">搜尋使用者：</label>
            <input type="search" id="user-search" name="query" />
            <input type="submit" value = "搜尋" />
        </form>
        <!-- 不知道有沒有辦法在這裡get到checkbox的內容
        <form action="{{ url_for('account_manage.permission_adjust') }}" method="POST">
          <input type="submit" name = "command" id = "ban" value = "加入黑名單"/>
          <input type="submit" name = "command" id = "unban" value = "移除黑名單"/>
          <input type="submit" name = "command" id = "advancilize" value = "設定為進階使用者"/>
          <input type="submit" name = "command" id = "normalize" value = "設定為一般使用者"/>
        </form>-->
        </div>
	    </div>
    </div>
  </div>
</body>
</html>